<script src="../lib/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="../lib/jquery.tmpl.min.js" type="text/javascript"></script>
<link href="styles.css" rel="Stylesheet" type="text/css"/>

<script id="template" type="text/x-jquery-tmpl">
	<ul>
		{{each(i, build) builds}}
		<li class="${build.status}">
			<a href="${build.webUrl}">
				${build.projectName} - ${build.name}
			</a>
		</li>
		{{/each}}
	</ul>
</script>

<div id="content"></div>

<script type="text/javascript">
	$('#content').empty();
	$('#template')
		.tmpl({builds:chrome.extension.getBackgroundPage().builds})
		.appendTo('#content');
	$('#content li a').click(function(event){
		event.preventDefault();
		chrome.extension.getBackgroundPage().openTab($(this).attr('href'));
	});
</script>
