<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Closure">

	<Target Name="Closure">
		<ItemGroup Condition="'$(JavaScript)' == ''">
			<JavaScript Include="**\*.js" Exclude="**\*.min.js"/>
		</ItemGroup>

		<PropertyGroup Condition="'$(JavaScriptOutput)' == ''">
			<JavaScriptOutput>$(MSBuildProjectName).min.js</JavaScriptOutput>
		</PropertyGroup>

		<PropertyGroup>
			<Command>java -jar compiler.jar --js_output_file $(JavaScriptOutput) @(JavaScript->'--js %(Identity)', ' ')</Command>
		</PropertyGroup>
		<Message Text="$(Command)"/>
		<Exec Command="$(Command)"/>
	</Target>

</Project>

